/*  your css code here. If applicable */

.hero {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.hero-image {
	width: 400px;
	height: 200px;
	object-fit: cover;
}

.hero-content {
	text-align: center;
	wigth: 400px;
	height: 400px;
	padding: 10px;
}
.hero-content>h1 {
	font-size: 28px;
}
.hero-content>button {
	padding: 10px;
	border: none;
	color: white;
	background-color: red;
	cursor: pointer;
	border-radius: 5px;
}

.hero-content>button>a{
	text-decoration: none;
}